/* 
	Less Framework 1.11 	http://lessframework.com 
	by Joni Korpi 		http://www.jonikorpi.com	
	============================================	*/

* {padding: 0; margin: 0;}

article,aside,audio,figure,figcaption,footer,header,nav,section,video {
	display: block; /* Fixes new HTML5 elements */
}

body {
	max-width: 40em;
	padding: 3.75em 2.25em;
	margin: 0 auto;
	min-height: 100%;
	font: 100%/1.5 sans-serif;
}

html, body, header, article, article section, footer {position: relative;}

figure {position: relative;}
figure img, video, object {display: block; max-width: 100%;}	/* Scales wide media to fit the screen */


/* Typography presets */

/* 64/72px */ header h1 {
	font-size: 4em; line-height: 1.125em; letter-spacing: -0.015625em;
}

/* 44/48px */ header h2 {
	font-size: 2.75em; line-height: 1.090909em; letter-spacing: -0.0227em;
}

/* 26/36px */ article h1 {
	font-size: 1.625em; line-height: 1.38461em;
}

/* 16/24px */ p {
	font-size: 1em;
}

/* 12/18px */ footer p, small {
	font-size: 0.75em; line-height: 1.5em;
}


/*	============================================	*/