@import url("all.css");
@import url("advanced.css");

body {
	padding-top: 6px;
}

/* @group Header */

header {
	margin: 8px 0 24px;
	background-color: #D61200;
	border: 6px solid #D61200;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
header #site-name {
	text-indent: -1000em;
	float:left;
	width:200px;
	margin-top:4px;
	height: 32px;
	background: url(../images/site-name.png) 0 50% no-repeat;
}
header nav {
	float:right;
	margin-top:2px;
}
header nav ul, header nav li {
	border:0;
	margin:0;
	padding:0;
	list-style:none;
}
header nav ul li {
	float: left;
	margin-right: 2px;
}
header nav ul li a:link, header nav ul li a:visited {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	padding: 2px 6px;
	color: #fff;
	line-height: 30px;
	height: 30px;
	text-decoration: none;
	display: block;
}
header nav ul li a span {
	display:block;
	height:30px;
	margin-right:6px;
	padding-left:6px;	
}

	
/* @end */
	
/* @group Content */
	
h2.slogan {
	padding:20px 0 36px;
	font-size:20px;
	text-align:center;
	color:#222;
}
	
/* @end */
	
/* @group Footer */
	
footer {
	margin: 48px 0 0;
	font-size: 10px;
	color: #666;
	background-color: #F1F1F1;
}
footer h3 {
	font-size: 10px;
}
footer nav {
	
}
	
/* @end */

