@import url("all.css");
@import url("advanced.css");

body {
	padding-top: 6px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}

/* @group Header */

header {
	margin: 8px 0 24px;
	background-color: #D61200;
	border: 6px solid #D61200;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
header #site-name {
	display: inline;
}
header #site-name a {
	text-indent: -1000em;
	float:left;
	width:200px;
	margin-top:4px;
	height: 32px;
	background: url(../images/site-name.png) 0 50% no-repeat;
}
header nav {
	float:right;
	margin-top:2px;
}
header nav ul {
	float:right;
	margin-right:-72px;
}
header nav ul, header nav li {
	border:0;
	margin:0;
	padding:0;
	list-style:none;
}
header nav ul li {
	float: left;
}
header nav ul li a:link, header nav ul li a:visited {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	padding: 2px 6px;
	color: #fff;
	line-height: 30px;
	height: 30px;
	text-decoration: none;
	display: block;
}
header nav ul li a span {
	display:block;
	height:30px;
	margin-right:6px;
	padding-left:6px;	
}

	
/* @end */
	
/* @group Content */

#content {
	font-size: 13px;
}

#content h2, #content h3, #content ul, #content ol, #content p {
	margin-bottom: 12px;
}
#content ul, #content ol, #content p {
	line-height: 22px;
}
#content h2.slogan {
	padding:20px 0 36px;
	font-size:20px;
	text-align:center;
	color:#222;
}
#content h3 {
	color: #02B0F0;
	font-size: 20px;
}
#content #publishers {
	border-right: 1px solid #f1f1f1;
	margin-right:-1px;
}

/* @end */
	
/* @group Footer */
	
footer {
	margin: 32px 0 0 -32px;
	padding: 12px 36px 36px;
	font-size: 11px;
	color: #bbb;
	border-top:1px dotted #e1e1e1;
}
footer h3, footer h3 a {
	color: #aaa;
	font-size: 10px;
	text-decoration: none;
    -webkit-transition: color 500ms ease-in-out;
    -moz-transition: color 500ms ease-in-out;
    -o-transition: color 500ms ease-in-out;
}
footer a, footer a:visited {
	color: #bbb;
    -webkit-transition: color 500ms ease-in-out;
    -moz-transition: color 500ms ease-in-out;
    -o-transition: color 500ms ease-in-out;
}
footer:hover h3, footer:hover h3 a, footer:hover h3 a:visited {
	color:#02B0F0;
    -webkit-transition: color 500ms ease-in-out;
    -moz-transition: color 500ms ease-in-out;
    -o-transition: color 500ms ease-in-out;
}
footer:hover ul, footer:hover li {
	color: #666;
    -webkit-transition: color 500ms ease-in-out;
    -moz-transition: color 500ms ease-in-out;
    -o-transition: color 500ms ease-in-out;
}
footer:hover a, footer:hover a:visited {
	color: #333;
    -webkit-transition: color 500ms ease-in-out;
    -moz-transition: color 500ms ease-in-out;
    -o-transition: color 500ms ease-in-out;
}
footer a:hover {
	text-decoration: underline;
}
footer nav {
	
}
footer ul {
	margin:4px 0 12px 12px;
}
footer li a {
	text-decoration: none;

}
footer #license {
	padding-top: 48px;
	text-align: center;
	color: #ccc;
}
footer #license a, footer #license a:visited {
	color: #aaa;
}

/* @end */

