@import url("all.css");
@import url("advanced.css");

body {
	padding-top: 6px;
}

/* @group Header */

header {
	margin: 8px 0 24px;
	background-color: #D61200;
	border: 6px solid #D61200;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
header #site-name {
	text-indent: -1000em;
	float:left;
	width:200px;
	margin-top:4px;
	height: 32px;
	background: url(../images/site-name.png) 0 50% no-repeat;
}
header nav {
	float:right;
	margin-top:2px;
}
header nav ul {
	float:right;
	margin-right:-72px;
}
header nav ul, header nav li {
	border:0;
	margin:0;
	padding:0;
	list-style:none;
}
header nav ul li {
	float: left;
}
header nav ul li a:link, header nav ul li a:visited {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	padding: 2px 6px;
	color: #fff;
	line-height: 30px;
	height: 30px;
	text-decoration: none;
	display: block;
}
header nav ul li a span {
	display:block;
	height:30px;
	margin-right:6px;
	padding-left:6px;	
}

	
/* @end */
	
/* @group Content */
	
#content h2, #content h3, #content ul, #content ol, #content p {
	margin-bottom: 12px;
}
#content ul, #content ol, #content p {
	line-height: 18px;
}
#content h2.slogan {
	padding:20px 0 36px;
	font-size:20px;
	text-align:center;
	color:#222;
}
#content h3 {
	color: #09c;
}

/* @end */
	
/* @group Footer */
	
footer {
	margin: 48px 0 0;
	padding: 18px 36px 48px;
	font-size: 11px;
	color: #4D4D4D;
	background-color: #F1F1F1;
}
footer a, footer a:visited {
	color: #4D4D4D;
}
footer h3 {
	font-size: 10px;
	color: #676767;
}
footer nav {
	
}
footer ul {
	margin:4px 0 12px 12px;
}	
/* @end */

